.app-toolbar {
  display: flex;
  flex-direction: column;
  gap: rem(12);
  
  &__backup {
    display: flex;
    width: 100%;
    gap: rem(8);
  }

  &__btn {
    flex: 1;
    justify-content: center;
    padding: rem(6) rem(12);
    border-radius: 6px;
    border: 1px solid $border_color;
    background: var(--color-white);
    color: var(--txt-color-base);
    @include font(13, "Medium");
    cursor: pointer;
    @include transition();
    display: inline-flex;
    align-items: center;
    gap: rem(4);

    &:hover {
      background: var(--color-main-5);
      color: var(--txt-color-tit);
    }

    &--theme {
      width: 100%;
      border-color: transparent;
      background: var(--color-main-5);
      &:hover {
        background: var(--color-main-10);
      }
    }
  }
}
